input {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0c0cc1; /*anchura, estilo y color borde*/
    display: block;   
    height: 30px;
    width: 300px;
    margin: 20px auto;
    float:none;
  }